/**
* ! Changing default styles of the browser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #ececec;
  }
  
  i {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  /**
  * ! Navbar STyles are here
  **/
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, #5d3ebc 0, transparent 95%);
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
    position: sticky;
    top: 0;
  }

  .brandName{
      display: flex;
      align-items: center;
  }
  .logo{
    width: 180px;
  }
  .headBar {
    width: 50%;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0.5rem;
}
  .searchBar {
    width: 50%;
    border-radius: 0.4rem 25px 25px 0.4rem;
    border: 1px solid #808080;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    padding: 0.5rem;
}
  

/** CONTAINERS **/

.container {
  width: 300px;
  margin: 0 60px;
}
  .block {
    margin-bottom: 25px;
    background: #fff;
    border-radius: 5px;
    border-bottom: 1px solid #5d3ebc;

  }
  .left-container {
    border-radius: 10px;
  }
  .menu-box {
    border-radius: 10px;
    border: 1px solid #5d3ebc;
  }
    .menu-box .titular {
      display: flex;
      justify-content: center;
      border-radius: 10px;
      padding: 5px 0;
      border-bottom: 1px solid #5d3ebc;
      background: linear-gradient(to top, #5d3ebc 0, transparent 95%);
      opacity: 0.6;
      
    }
    .menu-box-menu .icon {
      display: inline-block;
      vertical-align: top;
      width: 28px;
      margin-left: 20px;
      margin-right: 15px;
    }
    .menu-box-number {
      width: 36px;
      line-height: 22px;
      background: #50597b;
      text-align: center;
      border-radius: 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      -webkit-transition: all .3s;
      transition: all .3s;
    }
    .menu-box-menu li{
      height: 60px;
      position: relative;		
      list-style: none;								
    }
    .menu-box-tab {
      line-height: 60px;
      display: block;
      border-bottom: 1px solid #5d3ebc;
      border-radius: 10px;
      -webkit-transition: background .2s;
      transition: background .2s;
      color: #000;
    }
      .menu-box-tab:hover {
        background: linear-gradient(to bottom, #5d3ebc 0, transparent 95%);
        border-radius:10px;
        text-decoration: none;
      }
      .menu-box-tab:hover .icon {
        color: #fff;
      }
      .menu-box-tab:hover .menu-box-number {
        background: #e64c65;
      }
      .scnd-font-color {
        color: #000;
      }
  /******************************************** **/

  .cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
  .cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
  }
  
  /**
  * ! Shop items styles are here
  **/
  
  .shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    height: 260px;
  }
  
 

  
  .item {
    border: 2px solid #5d3ebc;
    border-radius: 4px;
    box-shadow: 0 2px 2px #5d3ebc;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  .price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
  }
  
  .bi-dash-lg {
    color: red;
    font-weight: bold;
  }
  
  .bi-plus-lg {
    color: green;
    font-weight: bold;
  }
  
  /**
  * ! style rules for label and some buttons
  **/
  
  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  .info-Area{
    padding-top: 10px;
    font-size: 16px;
  }
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  
  /**
  * ! style rules for shopping-cart
  **/
  
  .shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
  }
  
  /**
  * ! style rules for cart-item
  **/
  
  .cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }

  .prod-Area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-name{
    font-size: 14px;
  }
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }
  .campaignArea{
      position: fixed;
      bottom: 0;
      left: 0;
  }
  .btnCampaign{
    width: 120px;
    height: 120px;
    border-radius: 0 150px 0 0;
    border: none;
    background: linear-gradient(to top, #5d3ebc 0, transparent 95%);
    cursor: pointer;
  }

  /* The Modal (background) */
.modal {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    background-color: #fefefe;


    width: 25%;
    position:fixed;
    top:auto;
    right:auto;
    left: 8rem;
    bottom:2rem;

  }

  .modal-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5d3ebc;
    margin-bottom: 2px;
  }

  .modal-desc{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  
  /* The Close Button */
  
  .close {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 24px;
    padding-right: 4px;
  }
  
 
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .bi-check-circle{
      color: #212529;
  }


  .active{
    background-color:green;
  }
  .selectCampain{
    background-color: transparent;
  }


  @media (min-width: 1260px) {
    .mainPage{
      display: flex;
    }
  }
  @media (max-width: 1000px) {
    .left-sidebar{
     display: none;
    }
    .shop {
      grid-template-columns: repeat(2, 223px);
    }
    .logo{
      width: 120px;
    }
  }
  
  @media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
    .navbar {
        padding: 25px 20px;
    }
    .headBar{
        display: none;
    }
    .logo{
      width: 120px;
    }
    
  }
